body {
    font-family: Arial, sans-serif;
    background-color: #949494; /* cor fora da pagina principal */
    margin: 0;
    padding: 0;
}
.container {
    background-color: #ffffff; /* cor dentro da folha */
    max-width: 2000px; /* define o tamanho da pagina */
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra por fora da borda */
               
}
h1 {
    color: #000000;
    font-size: 24px;
    
}
h2 {
    color: #444;
    font-size: 18px;
}
p {
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    
}
.section {
    margin-bottom: 20px;
}
.section-header { /* linha entre os topicos */
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.columns {
    display: flex; /* FlexBox responsive design */
    justify-content: space-between 1;
    flex-wrap: wrap;
}
.column {
    width: calc(33.33% - 10px); /* Três colunas com espaçamento entre elas */
    background-color: #ffffff;
    padding: 1px;
    border-radius: 0px;
    border:1px #ffffff solid;
    margin: 1px;
  
    
}
.keyWord{
    font-weight: bold; /* Aplica negrito às palavras-chave */
    text-decoration: underline; /* Sublinha as palavras-chave */
}
/* Estilo para larguras menores (600px ou menos) usando uma consulta de mídia */
@media (max-width: 768px) {
    .columns {
        flex-direction: column; /* Empilhar as colunas verticalmente */
    }
    .column {
        width: 100%; /* Largura total em telas menores */
        margin-bottom: 10px; /* Espaçamento inferior entre as colunas */
    }
}
